doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet" href="index.css")
    title Document
  body
    div
      .app-main-layout
        nav.navbar.orange.lighten-1
          .nav-wrapper
            .navbar-left
              a(href="#")
                i.material-icons.black-text dehaze
              span.black-text 12.12.12
            ul.right.hide-on-small-and-down
              li
                a.dropdown-trigger.black-text(href="#" data-target="dropdown")
                  | USER NAME
                  i.material-icons.right arrow_drop_down
                ul#dropdown.dropdown-content
                  li
                    a.black-text(href="#")
                      i.material-icons account_circle
                      | Профиль
                  li.divider(tabindex="-1")
                  li
                    a.black-text(href="#")
                      i.material-icons assignment_return
                      | Выйти
        ul.sidenav.app-sidenav.open
          li
            a.waves-effect.waves-orange.pointer(href="#") Счет
          li
            a.waves-effect.waves-orange.pointer(href="#") История
          li
            a.waves-effect.waves-orange.pointer(href="#") Планирование
          li
            a.waves-effect.waves-orange.pointer(href="#") Новая запись
          li
            a.waves-effect.waves-orange.pointer(href="#") Категории
        main.app-content
          .app-page
            div
              .page-title
                h3 Категории
              section
                .row
                  .col.s12.m6
                    div
                      .page-subtitle
                        h4 Создать
                      form
                        .input-field
                          input#name(type="text")
                          label(for="name") Название
                          span.helper-text.invalid Введите название
                        .input-field
                          input#limit(type="number")
                          label(for="limit") Лимит
                          span.helper-text.invalid Минимальная величина
                        button.btn.waves-effect.waves-light(type="submit")
                          | Создать
                          i.material-icons.right send
                  .col.s12.m6
                    div
                      .page-subtitle
                        h4 Редактировать
                      form
                        .input-field
                          select
                            option Category
                          label Выберите категорию
                        .input-field
                          input#name(type="text")
                          label(for="name") Название
                          span.helper-text.invalid TITLE
                        .input-field
                          input#limit(type="number")
                          label(for="limit") Лимит
                          span.helper-text.invalid LIMIT
                        button.btn.waves-effect.waves-light(type="submit")
                          | Обновить
                          i.material-icons.right send
        .fixed-action-btn
          a.btn-floating.btn-large.blue(href="#")
            i.large.material-icons add
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
